.dub
docs.json
__dummy.html
*.o
*.obj

bin/Debug/selenium

dub.selections.json

dub.userprefs

selenium.dproj

selenium-d

*.DS_Store
/generated.d
/libselenium-d.a
/selenium-d-test-library
bin
generated.d
allure
allure-html
coverage
